

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

body{
    background-color: rgb(21, 21, 21)
    ;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.contato button{
    padding: 40px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(196, 196, 63);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.contato button:hover{
    box-shadow: 0px 0px 6px rgb(196, 196, 63);
    transform: scale(1.05);
}

h2.titulo{
    color: rgb(255, 255, 255);
    font-size: 39px;
    text-align: center;
    margin-top: 100px;
}

h2.titulo span{
    color: rgb(196, 196, 63);
}

.txt-sobre h2 span{
    color:rgb(196, 196, 63)
}

button:hover, form .rf-enviar input:hover{
    box-shadow: 0 0 8px rgb(196, 196, 63);
    transform: scale(1.05);
}

/* cabeçalho */

header span{
    color: rgb(196, 196, 63);
    text-decoration:underline 2px;
}
header{
    padding: 40px 4%;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content:  space-between;
    
}

header a{
    color: rgb(93, 93, 93);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: rgb(196, 196, 63);
    transform: scale(1.05);
}


header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.logo-empresa i{
    color: rgb(196,196,63);
    font-size: 70px;
}


/* topo do site */

.topo-do-site strong{
    color: rgb(196, 196, 63)
}
section.topo-do-site{
    padding: 20px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.topo-do-site h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    
}

.topo-do-site .txt-topo-site h1 span{
    color: rgb(196, 196, 63);
    font-size: 30px;
}

.topo-do-site .txt-topo-site p{
    color: rgb(255, 255, 255);
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    height: 400px;
    width: 600px;
    border-radius: 20px;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 10px;
    }
}

/* Estilos de EQUIPE */


.fotos-equipe{
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

#obs{
    color: white;
}

.img-cesar img{
    width: 400px ;
    height: 500px;
    border-radius: 30px;
}

.foto-arduino img{
    width: 300px 30px;
    height: 400px;
    border-radius: 30px;
}
.iframe-box iframe{
    width: 200px ;
    height: 450px;
}

section.equipe{
    padding: 40px 4%;
    position: center;
}

section.equipe .flex{
    gap: 60px;
}

.box{
    color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
    margin: 45px;
    transition: .2s;
}

.box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 12px rgb(196, 196, 63);
}

.box i{
    font-size: 70px;
    color: rgb(196, 196, 63);
    
}

.box h3{
    font-size: 38px;
    margin: 15px 0;
    position: border left 500px;
}

section.box .flex{
    align-items: center;
    gap: 60px;
}


.txt-box {
    color: rgb(255, 255, 255);
}

.txt-box h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.txt-box h2 span{
    color: rgb(196, 196, 63);
    display: block;
}

.box .txt-box p{
    margin: 20px 0;
    text-align: justify;
}

.box button{
    padding: 40px;
    font-size: 15px;
    padding: 10px;
    font-weight: 600;
    background-color: rgba(196, 196, 63, 0);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.box 

.rf-social a button i{
    height: 10px;
    width: 20px ;
}

/* Protótipo */

.foto-prototipo button{
    padding: 7px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(196, 196, 63);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.baixar-zip button{
    padding: 7px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(196, 196, 63);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.baixar-zip button i{
    color: rgb(21, 21, 21);
}

.foto-prototipo button:hover{
    box-shadow: 0px 0px 6px rgb(196, 196, 63);
    transform: scale(1.05);
}

.esquema-prototipo img{
    height: 400px;
    width: 700px;
    border-radius: 30px;
    padding: 20px;
}

.teste img{
    width: 400px 30px;
    height: 500px;
    border-radius: 30px;
}
.iframe-sobre iframe{
    width: 200px ;
    height: 200px;
}

section.prototipo{
    padding: 40px 4%;
}

section.prototipo .flex{
    gap: 60px;
}

.prototipo .sobre-box{
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin: 45px;
    transition: .2s;
}

.prototipo .sobre-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 12px rgb(196, 196, 63);
}

.prototipo .sobre-box i{
    font-size: 70px;
    color: rgb(196, 196, 63);
    
}

.prototipo .sobre-box h3{
    font-size: 38px;
    margin: 15px 0;
}

section.prototipo .flex{
    align-items: center;
    gap: 60px;
}


.prototipo .txt-sobre{
    color: white;
}

.txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.txt-sobre h2 span{
    color: rgb(196, 196, 63);
    display: block;
}

.prototipo .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}



/* sinppet*/

pre {
    background-color: rgb(28, 28, 28); 
    border-radius: 30px;       
    padding: 10px;            
    overflow-x: auto;         
    font-family: "Courier New", Courier, monospace; 
    line-height: 1.5;         
}

code {
    color: #e3e3e3;           
    font-size: 15px;          
}

.txt-sobre pre code{
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}



/* EDIÇÃO FORMULÁRIO */

section.form{
    padding: 40px 4%;
    
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: rgb(51, 50, 50);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .rf-enviar{
    margin-top: 20px;
    text-align: center;
}

form .rf-enviar input{
    width: 120px;
    background-color: rgb(196, 196, 63);
    color: #101010;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}


/* ESTILO RODA PÉ */

footer{
    padding: 50px 4%;
    box-shadow: 0 0 40px 10px rgba(47, 48, 51, 0.253);
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
    border-bottom: 2px rgb(196, 196, 63);
}



footer .line-footer p i{
    color: rgb(196, 196, 63);
    font-size: 23px;
}


footer .line-footer p a{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

footer .logo-footer i{
    color: rgb(196, 196, 63);
    font-size: 80px;
}

